*.swp
*.log
*.log.*
*.log-*
.DS_Store
/epgstation/custom.Dockerfile
/epgstation/config/*
!/epgstation/config/config.sample.yml
!/epgstation/config/enc.js
!/epgstation/config/epgUpdaterLogConfig.yml
!/epgstation/config/operatorLogConfig.yml
!/epgstation/config/serviceLogConfig.yml
/epgstation/data/*.json
/epgstation/data/streamfiles/*.ts
/epgstation/data/streamfiles/*.m3u8
/epgstation/thumbnail/*.jpg
/mirakurun/data/*
/mirakurun/conf/*
!/mirakurun/conf/channels.tokyo.yml
!/mirakurun/conf/server.yml
!/mirakurun/conf/tuners.sample.yml
/recorded/*
/tmp/
!.gitkeep
